body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
}

main {
    display: flex;
}

caption {
    color: #f2f2f2;
    font: italic normal normal 16px/1.5 Arial, sans-serif;
}

.catalog {
    flex: 3;
    padding: 20px;
    box-sizing: content-box;
}

.filters h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.filter-item {
    margin-bottom: 10px;
}

.filter-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-item input[type="checkbox"] {
    margin-right: 5px;
}

.product-item {
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.product-item h3 {
    margin-top: 10px; /* Отступ сверху для заголовка */
    margin-bottom: 10px; /* Отступ снизу для заголовка */
}

.product-item p {
    margin-bottom: 10px; /* Отступ снизу для абзаца */
}

.product-item img {
    width: 320px; 
    height: 180px; 
    object-fit: cover;
}

.btn-purple {
        color: #fff;
        background-color: #800080;
        border-color: #800080;
    }

.btn-purple:hover {
        color: #fff;
        background-color: #6a006a;
        border-color: #6a006a;
    }

.row {
    flex: 1;
}