<h2 class="mt-2">О нас</h2>
<p>Добро пожаловать на наш маркетплейс видеоигр! Мы предлагаем широкий выбор игр, включая те, которые недоступны для покупки в РФ на других сервисах. Наша цель - предоставить игрокам возможность легко находить и приобретать желаемые игры, а также обеспечить качественное обслуживание и поддержку.</p>
<p>Мы работаем напрямую с издателями и разработчиками, чтобы предложить вам самые актуальные и интересные игры для вашего удовольствия.</p